backend/media/
backend/staticfiles/
backend/**/__pycache__/
backend/**/*.pyc
backend/*.pyc
frontend/node_modules/
frontend/dist/
backend/.env
frontend/.env
frontend/.env.development
backoffice/dist/
backoffice/dist/
